<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>System Klientowy ENIXX POLSKA</title>
  <meta name="description" content="System Klientowy ENIXX POLSKA" />
  <meta name="keywords" content="System, Klient, Timeline, ENIXX POLSKA, Agenda, Specyfikacja" />
  <meta name="author" content="ENIXX POLSKA" />
  <link rel="shortcut icon" href="../favicon.ico">

  <link rel="stylesheet" type="text/css" href="/css/component.css" />
      <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <script src="/js/modernizr.custom.js"></script>
</head>
