/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	background: #1A1D23 !important;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.main,
.container > header {
	width: 95%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em;
}
.main2{
width: 100%;
max-width: 69em;
	
}

.container > header {
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header nav {
	float: right;
}

.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	background: #47a3da;
}

.icon-drop:before, 
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}

.logo{
padding-top: 23px;	
}
.topic1, .topic2{
color: white;
text-align:right;	
}
.nav-tabs{
margin-top: 50px;	
}
.cbp_tmtimeline > li{
position: relative;	
}
.tab1.active > a{
background-color: red;	
}
h2{
font-size: 20px;	
}
.cbp_tmtimeline > li .cbp_tmtime span:last-child{
font-size: 34px;	
}
p{
font-size: 14px;
line-height: 20px;	
}
.topic1{
margin-top: 25px;	
}
h1{
font-size: 28px;	
}
.footer{
border-top: 1px solid white;
}
.topic3{
	margin-top: 20px;
	font-size: 12px;
	color: white !important;
	font-weight:100;
text-align: center;	
}
.formularz{
padding: 20px;	
}
.formenixx{
	    font-size: 12px;
    background: rgba(0, 0, 0, 0);
    color: #FFF;
    outline: none;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    min-width: 100%;
}

.formenixx1{
	    font-size: 12px;
    background: rgba(0, 0, 0, 0);
    color: #FFF;
    outline: none;
    padding: 10px;
   border-radius: 5px;
    border: 1px solid #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    min-width: 100%;
}

.buton{
	    outline: none;
    font-size: 14px;
    background: none;
    border: 1px solid #FFF;
    border-radius: 5px;
	float: right;
	color: white;
	font-weight: 100;
}
.buton1{
	padding: 5px 20px;
	font-size: 14px;
float: right;	
}
.buttons{
	margin-top: 20px;
text-align: right;	
}
.ak[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-3px;
   font-size:.7em;
   font-weight: 700;
   background:#f6ef31;
   color:black;
   width:18px;
   height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
.ak{
	position: relative;
	outline: none;
	font-size: 14px;
background: none;
border: 1px solid white;
border-radius: 5px;
padding: 7px;
color: white !important;
cursor: pointer;
text-decoration: none !important;	
}

.download{
float: left;	
}

@media (max-width: 768px){
	.cbp_tmicon{
	display: none;	
	}
.download{
text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 12px;
}
.buttons{
	
text-align: center;	
}
}

.panel{
background: transparent;	
}
.agendaprac{
	padding: 0;
	margin: 0;
list-style: none;	
}
.agendaprac > li{
font-size: 14px;	
}

.specyfikacja > p{
color: white;	
}

.topic{
color: white;
font-size: 35px;
border-bottom: 1px solid white;
padding-bottom: 30px;	
margin-bottom: 50px;
}
.footer{
margin-top: 50px;	
}

.specdown{
	    margin-bottom: 20px;
    margin-top: -39px;
text-align: center;	
}
.black{
color: black !important;	
}
.uwaga{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
color: black;
background: white;
border-radius: 5px;
}
.uwags{
	font-size: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}
.datauwagi{
font-size: 12px;
}
.status{
	padding: 5px;
background: yellow;
border-radius: 5px;
color: black !important;	
}

.statusdone{
	padding: 5px;
background: #449d44;
border-radius: 5px;

color: white !important;
}
.procent{
    background: #A20636;
    padding: 7px;	
}
.loader{
	opacity: 0.4;
	margin-top: 100px;
    text-align: center;
    font-size: 22px;
    color: #FFF;	
}
.loading{
min-height: 300px;
height: 300px;	
}