<template name="Not_found">
  <body>

  <div class="container">
        <div class="row">
      <div class="col-md-6">
        <img src="img/logo.png" class="logo" alt="Logotyp">
                </div>
                <div class="col-md-6 ">
        <h1 class="topic1">NOT FOUND 404</h1>
                <p class="topic2">COS POSZLO NIE TAK STRONA NIE ODNALEZIONA! </p>

      </div>
      </div>
<div class="footer text-center">
<a class="topic3">ENIXX POLSKA</a>
</div>

    </div>
  </body>
</template>
