<template name="Messages_box">
  <li>
    <time class="cbp_tmtime" datetime="{{createdAt}}"><span>{{getDay createdAt}}</span> <span>{{getHour createdAt}}</span></time>
    <div class="cbp_tmicon cbp_tmicon-phone"></div>
    <div class="cbp_tmlabel {{accepted}}">
      <h2>{{name}}</h2>
      <p>{{text}}</p>
      <hr>
          <div class="download">
          <a href="#"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
          </div>
          <div class="buttons">
          <button class="ak add-message" data-toggle="collapse" data-parent="#accordion" href="#collapse{{_id}}"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Zgłoś uwagę</button>
          {{#if accepted}} {{else}}<button class="ak accept-button"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Akceptuję</button>{{/if}}
        </div>
          <div id="collapse{{_id}}" class="panel-collapse collapse">
  <div class="panel-body">
        <div class="row">
          <form class="add-message-to-message">
            		<textarea rows="4" class="formenixx1" placeholder="Prześlij nam swoje uwagi" name="message-text"></textarea>
                     <div class="row">
                <div class="col-md-6">
                <input type="file" class="inpucik" name="img" multiple>
                </div>
                <div class="col-md-6">
                <button class="buton"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Zgłoś</button>
                </div>
                </div>
            </form>
            </div>


        <div class="row">
<h1 class="uwags">Uwagi klienta</h1>

{{#each messages}}
<div class="uwaga">
    <p class="status pull-left">
      <i class="fa fa-spinner fa-spin "></i>
      W trakcie wdrażania</p>
        <p class="datauwagi pull-right">{{getDay createdAt}} - {{getHour createdAt}}</p>
        <div class="clearfix"></div>
        <p>{{text}}</p>


        </div>
      <p>

  </p>
{{/each}}

        <div class="buttons">
              <a class="ak" data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

            </div>
</div>
</div>
        <div class="clearfix">

        </div>
    </div>
      </div>
  </li>
</template>
