<template name="Messages_list">
  <div class="panel-group col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" href="#collapse1">
      <h4 class="panel-title">
        <span>Dodaj Wiadomość</span>
       <span class="right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="formularz">
      <form class="add-new-message" method="post">
          <input type="text" class="formenixx"  id="message-title" placeholder="Tytuł">
          <textarea class="formenixx" rows="8" id="message-text" placeholder="Treść Wiadomości"></textarea>
          <!-- <div class="col-md-6">
            <input type="file" name="img" multiple>
          </div> -->
          <div class="col-md-6">
          <button class="btn btn-success buton">Wyślij</button>
          </div>
      </form>

</div>
    </div>
  </div>
</div>
  <div class="col-md-offset-3">
      {{> EasySearch.Input index=messagesSearch attributes=searchAttr}}
  </div>
  <ul class="cbp_tmtimeline">
  
        {{#EasySearch.Each index=messagesSearch}}

          {{> Messages_box}}
        {{/EasySearch.Each}}
  </ul>
</template>
