<template name="Project_list">
  <div class="row">
<div class="col-md-6">
  <img src="img/logo.png" class="logo" alt="Logotyp">
          </div>
          <div class="col-md-6 ">
            <a href="#" class="logout-button">Wyloguj</a>
              <h1 class="topic1">Lista Projektów</h1>

</div>
</div>
  {{#if isAdmin currentUser}}
    <div class="col-md-6 col-md-offset-3">

      <div class="panel-group col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" href="#add-project-form">
          <h4 class="panel-title">
            <span>Dodaj Projekt</span>
           <span class="right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          </h4>
        </div>
        <div id="add-project-form" class="panel-collapse collapse">
      <div class="formularz">
        {{#autoForm collection=Projects schema=Projects.form id="projectForm" type="insert"}}
            {{> afQuickField name='name'}}
            {{> afQuickField name='text' type="textarea"}}
            {{> afQuickField name='siteUrl'}}

            {{> afQuickField name='clientsId' options=options }}
            <button type="submit" class="btn btn-primary">Dodaj</button>
        {{/autoForm}}
      </div>
        </div>
      </div>
      </div>
    </div>
  {{/if}}
  {{#each yourProjects}}
      <div class="col-md-6 col-md-offset-3">
        <a href="{{pathFor 'Project.show' _id=_id}}">
          <div class="col-md-12 project-block">
            <p>{{name}}</p>
          </div>
        </a>
      </div>
  {{/each}}

</template>
