<template name="Project_show">
<a class="floating-button fa fa-globe" href="{{project.siteUrl}}" target="_blank">
</a>
        <div class="row">
      <div class="col-md-6">
        <img src="/img/logo.png" class="logo" alt="Logotyp">
                </div>
                <div class="col-md-6 ">
                  <a href="#" class="logout-button">Wyloguj</a>
                  <h1 class="topic1">Projekt: {{project.name}}</h1>
                <p class="topic2">{{project.text}}</p>

      </div>
      </div>
            <ul class="nav nav-tabs">
  <li class="active tab1"><a data-toggle="tab" href="#home">Timeline</a></li>
  <li class="tab2"><a data-toggle="tab" href="#menu1">Agenda Prac</a></li>
  <li class="tab3"><a data-toggle="tab" href="#menu2">Specyfikacja</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">

    <div class="main">

        {{> Messages_list}}
    </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
<div class="footer text-center">
<a class="topic3">ENIXX POLSKA</a>
</div>


</template>
