.floating-button{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10%;
  top: 10%;
  color:#333;
  text-align: center;
  padding-top: 7px;
  font-size: 30px;
  background: #fff;
  border-radius: 30px;
  &:hover{
    text-decoration: none;
  }
}
.cbp_tmlabel{

  &.accepted
  {
      background: #287D18 !important;
  }
  &.accepted::after{
    border-right-color: #287D18 !important;

  }

}
