.project-block{
    padding: 15px;
    color: #333;
    background-color: #FFF;
    border-color: #ddd;
    margin-bottom: 15px;
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: inherit;
    }
}
