<template name="Auth_page">
  <div class="col-md-6 col-md-offset-3">

        <div class="formularz">
              {{> atForm}}

        </div>
  </div>

</template>

<template name="override-atPwdFormBtn">
    <button type="submit" class="btn btn-primary">
        {{buttonText}}
    </button>
</template>

<template name="override-atTextInput">
    <div class="input {{#if isValidating}}validating{{/if}} {{#if hasError}}error{{/if}} {{#if hasSuccess}}has-success{{/if}} {{#if feedback}}has-feedback{{/if}}">
        <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" placeholder="{{placeholder}}" autocapitalize="none" autocorrect="off" class="formenixx">
        {{#if hasIcon}}
            <span class="{{iconClass}}"></span>
        {{/if}}
        {{#if hasError}}
            <span>{{errorText}}</span>
        {{/if}}
    </div>
</template>

<template name="override-atTitle">
    <h1 class="title-auth">{{title}}</h1>
    <p class="subtitle-auth">Signing in allows you to have private lists</p>
</template>

<template name="override-atError">
    <div class="list-errors">
        {{#each error}}
            <div class="list-item">{{errorText}}</div>
        {{/each}}
    </div>
</template>

<template name="override-atPwdForm">
    <div class="at-pwd-form">
        <form role="form" id="at-pwd-form" class="{{disabled}}" novalidate action="#" method="POST">
            {{#each fields}}
                {{> atInput}}
            {{/each}}
            {{#if showReCaptcha}}
                {{> atReCaptcha}}
            {{/if}}
            {{> atPwdFormBtn}}
            {{#if showForgotPasswordLink}}
                {{> atPwdLink}}
            {{/if}}
        </form>
    </div>
</template>
